
<% include partial/header %>

    <div class="row">
        <div class="col-6">
                <h1 style="text-align:right">Administration modélisation métro</h1>
        </div>
    </div>
      
    <div class="row">
    <div class="col-3"><p></p></div>
    <div class="col-6">
      <p></p>
    </div> 
    <div class="col"></div>
    </div>

<% include partial/footer %>
