
<% include partial/header %>

      
    <h1 style="text-align:center">Réglages</h1>
      
<p>Nombre de rames :</p>
<p>Temps avant la fermeture des portes :</p>
<p>Cadences des rames :</p>
<p>Rame en maintenance :</p>

    <div id="train">
      
    </div>


<% include partial/footer %>
