
<% include partial/header %>

      
    <h1 style="text-align:center">Statistiques</h1>
      
<p>Statistique de fréquence</p>

    <div id="train">
      
    </div>


<% include partial/footer %>
